.reviewsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reviews-bg.png');
}

.reviewsParent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.carsoul-contain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
}

.arrow-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 40px;
  font-weight: 500;
  margin-top: 64px;
}

@media screen and (min-width: 768px) {
  .heading {
    font-size: 48px;
    margin-top: 150px;
  }
}

.reviews-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 300px;
}

.username {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 700;
}

.company {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 14px;
}

.description {
  text-align: center;
  color: #171f46;
  font-family: 'Roboto';
  font-size: 16px;
}

.profile-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}